/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
.idea
build
coverage
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules